@import 'tailwindcss';

@theme {
	--color-secondary: var(--color-neutral-200);
	--color-secondary-hover: var(--color-neutral-300);
	--color-secondary-border: var(--color-neutral-400);
	--color-secondary-text: var(--color-neutral-500);
	--color-secondary-dark: var(--color-neutral-800);
	--color-secondary-dark-hover: var(--color-neutral-900);
	--color-border: var(--color-neutral-400);
	--color-text: var(--color-neutral-500);
	--color-dark: var(--color-neutral-800);
	--color-dark-hover: var(--color-neutral-900);
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
}

* {
	scrollbar-width: thin;
}

/* Base scrollbar (WebKit browsers like Chrome, Edge, Safari) */
*::-webkit-scrollbar {
	@apply bg-transparent w-2;
}

*::-webkit-scrollbar-thumb {
	@apply bg-secondary-dark rounded-full;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
	@apply bg-transparent;
}

*::-webkit-scrollbar-thumb:hover {
	@apply bg-secondary-dark-hover;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
	@apply bg-secondary-border;
}

/* Firefox scrollbar styling */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--color-secondary-dark) transparent;
}

.scrollbar-hidden {
	scrollbar-color: transparent transparent;
}
.scrollbar-hidden:hover {
	scrollbar-color: var(--color-secondary-border);
}
